@using MonApplicationWebMVC.Models
@using static MonApplicationWebMVC.Models.Pays
@{Layout ="~/Views/Shared/_Layout.cshtml";}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Pays
@using(Html.BeginForm("AjoutPaysPost","Home",FormMethod.Post))
{
    @Html.LabelFor(m=>m.Nom) <br/>
    @Html.TextBoxFor(m=>m.Nom);
    <br />
    @Html.LabelFor(m=>m.Continent);<br/>
    @Html.DropDownListFor(m=>m.Continent,new SelectList(Enum.GetValues(typeof(list_Continent))),"Continent") <br />
    <br />
    @Html.LabelFor(m=>m.Population)<br />
    @Html.TextAreaFor(m=>m.Population);
    <br />
    @Html.LabelFor(m=>m.Superficie)<br />
    @Html.TextBoxFor(m=>m.Superficie);
    <br />
    /* Html.CheckBoxFor()*/

    <br/>
<button type="submit">Envoyer</button>
}


@Model.Nom
