@using MonApplicationWebMVC.Models
@using static MonApplicationWebMVC.Models.Pays
@{Layout ="~/Views/Shared/_Layout.cshtml";}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Pays
@* using(Html.BeginForm("AjoutPaysPost","Home",FormMethod.Post))
    donc c'est la version basique 
    mais on peut aussi utiliser 
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="InmprtExcel"
    Le champ permettant de sélectionner un fichier est un <input type= «file» 

*@
@using(Html.BeginForm("AjoutPaysPost","Home",FormMethod.Post,new {enctype = "multipart/form-data"}))
{
    @Html.LabelFor(m=>m.Nom) <br/>
    @Html.TextBoxFor(m=>m.Nom);
    <br />
    @Html.LabelFor(m=>m.Continent);<br/>
    @Html.DropDownListFor(m=>m.Continent,new SelectList(Enum.GetValues(typeof(list_Continent))),"Continent") <br />
    <br />
    @Html.LabelFor(m=>m.Population)<br />
    @Html.TextAreaFor(m=>m.Population);
    <br />
    @Html.LabelFor(m=>m.Superficie)<br />
    @Html.TextBoxFor(m=>m.Superficie);
    <br />
    /* Html.CheckBoxFor()*/
    <br/>
    <input class="form-control" type="file" id="excelFile" name="excelFile" />
    <button type="submit">Envoyer</button>
}
@*
@using (Html.BeginForm("ImportExcel","Home",FormMethod.Post, new {enctype = "multipart/form-data"}))

{
    <input class="form-control" type="file" id="excelFile" name="excelFile" />
    <input type="submit"> 
}
*@
@Model.Nom
